.utilisation-history-molecule-step1-history-card-right {
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  gap: var(--spacing-xs);
  align-items: var(--align-items-flex-end);
  text-align: var(--text-align-right);
}
