.utilisation-history-organism-container {
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  width: var(--width-full);
  height: var(--height-full);
  justify-content: var(--justify-content-space-between);
}

.utilisation-history-organism-main {
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  gap: var(--spacing-md);
}

.utilisation-history-organism-list {
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  gap: var(--spacing-md);
  width: var(--width-full);
}

.utilisation-history-organism-card {
  display: var(--display-flex);
  justify-content: var(--justify-content-space-between);
  align-items: var(--align-items-center);
  padding: var(--spacing-md);
  border: var(--border-width-md) solid var(--color-dark-grey);
  border-radius: var(--border-radius-md);
  background-color: var(--color-light-grey);
  box-sizing: var(--box-sizing-border-box);
}

.utilisation-history-organism-pagination-wrapper {
  display: var(--display-flex);
  justify-content: var(--justify-content-flex-end);
  width: var(--width-full);
}
