.signin-container {
  display: var(--display-flex);
  justify-content: var(--justify-content-center);
  align-items: var(--align-items-center);
  min-height: var(--min-height-viewport);
  background-color: var(--color-blue-darkest);
}
