.utilisation-calculator-molecule-step4-header {
  display: var(--display-flex);
  flex-direction: var(--flex-direction-row);
  justify-content: var(--justify-content-space-between);
  align-items: var(--align-items-center);
}
